# Ignore IntelliJ project files
.idea/
*.iml

# Ignore build output
/out/


# Ignore OS-specific files
.DS_Store
Thumbs.db

# Optional: ignore logs or temp files
*.log
*.tmp

# Ignore Java binary files from target
target
