Priorita: 5
Poziadavok: Kazde policko na doske musi obsahovat bud vodic, zdroj, ziarovku alebo byt prazdne.
Vlastnik: Adam V.
Termin: 22.04.2025

Priorita: 5
Poziadavok: Zdroj musi byt jeden a nesmie smerovat mimo hracej dosky.
Vlastnik: Adam V.
Termin: 23.04.2025

Priorita: 5
Poziadavok: Kazda ziarovka musi mat len jeden privod.
Vlastnik: Adam V.
Termin: 23.04.2025

Priorita: 4
Poziadavok: Po vygenerovani sa policka nahodne otocia tak, aby ziadna ziarovka nesvietila.
Vlastnik: Adam V.
Termin: 24.04.2025

Priorita: 4
Poziadavok: Uzivatel nemoze pocas nacitavania mapy interagovat s hracou doskou.
Vlastnik: Adam H.
Termin: 24.04.2025

Priorita: 4
Poziadavok: Hracia doska sa musi graficky zobrazit s MxN polickami.
Vlastnik: vsetci.
Termin: 24.04.2025

Priorita: 4
Poziadavok: Policka musia reagovat na kliknutie otocenim o 90 stupnov doprava.
Vlastnik: Adam H.
Termin: 25.04.2025

Priorita: 3
Poziadavok: Po kliknuti sa musi aktualizovat stav policka FE + BE.
Vlastnik: vsetci.
Termin: 25.04.2025

Priorita: 4
Poziadavok: Treba vizualne rozlisit pripojene a nepripojene policka ku zdroju.
Vlastnik: Adam H.
Termin: 26.04.2025

Priorita: 4
Poziadavok: Uzivatel si moze na uvodnej stranke vybrat obtiaznost hry.
Vlastnik: Adam H.
Termin: 26.04.2025

Priorita: 3
Poziadavok: Obtiaznost ovplyvni velkost dosky a pocet ziaroviek.
Vlastnik: Adam V.
Termin: 27.04.2025

Priorita: 3
Poziadavok: Hra musi zobrazovat pocet tahov pocas hrania.
Vlastnik: Adam H.
Termin: 27.04.2025

Priorita: 3
Poziadavok: Hra musi zobrazovat cas od zaciatku hry.
Vlastnik: Adam H.
Termin: 27.04.2025

Priorita: 3
Poziadavok: Uzivatel moze hru pauznut a neskor pokracovat.
Vlastnik: vsetci.
Termin: 28.04.2025

Priorita: 4
Poziadavok: Po vyrieseni zapojenia sa zobrazi vitazne okno.
Vlastnik: vsetci.
Termin: 28.04.2025

Priorita: 3
Poziadavok: Vitazne okno ponukne moznost spustit novu hru presne ako predloha.
Vlastnik: Adam H.
Termin: 29.04.2025

Priorita: 3
Poziadavok: Vitazne okno ponukne moznost vratit sa na uvodnu obrazovku.
Vlastnik: Adam H.
Termin: 29.04.2025

Priorita: 4
Poziadavok: Uzivatel si moze otvorit informacne okno s napovedou o pocte potrebnych otoceni.
Vlastnik: Adam H.
Termin: 29.04.2025

Priorita: 4
Poziadavok: Informacne okno sa musi aktualizovat po kazdom tahu.
Vlastnik: Adam V.
Termin: 30.04.2025

Priorita: 3
Poziadavok: Uzivatel musi mat moznost vidiet skutocne a potrebne otocenia pre kazde policko.
Vlastnik: vsetci.
Termin: 30.04.2025

Priorita: 4
Poziadavok: Informacne okno nesmie umoznit interakciu, je len na citanie.
Vlastnik: Adam H.
Termin: 30.04.2025

Priorita: 4
Poziadavok: Hra musi automaticky logovat priebeh hry do suboru.
Vlastnik: Adam V.
Termin: 01.05.2025

Priorita: 4
Poziadavok: Uzivatel musi mat moznost nacitat hru zo suboru.
Vlastnik: Adam V.
Termin: 01.05.2025

Priorita: 4
Poziadavok: Uzivatel bude mat moznost krokovat ulozenu hru dopredu aj dozadu.
Vlastnik: Adam V.
Termin: 02.05.2025

Priorita: 2
Poziadavok: Uzivatel si moze resetovat svoje skore.
Vlastnik: Adam H.
Termin: 03.05.2025

Priorita: 2
Poziadavok: System zobrazi aktualne skore pre kazdu obtiaznost.
Vlastnik: Adam H.
Termin: 03.05.2025

Priorita: 2
Poziadavok: Hra nahodne vyberie farebny styl ikon pre kazdu novu hru.
Vlastnik: Adam V.
Termin: 03.05.2025

Priorita: 3
Poziadavok: Policka musia byt interaktivne a vizualne reagovat na kliknutia.
Vlastnik: Vsetci.
Termin: 25.04.2025

Priorita: 2
Poziadavok: Hra musi podporovat aspon dve preddefinovane mapy.
Vlastnik: Adam V.
Termin: 24.04.2025

Priorita: 2
Poziadavok: Uzivatel bude informovany o vitazstve.
Vlastnik: Adam H.
Termin: 28.04.2025
